<% provide :title, t("pages.titles.help", org: (I18n.locale == :ar ? "مشاركة مواطنة" : 
                                                                                      I18n.locale == :fr ? "Moucharaka Mouwatina" : 
                                                                                      "Moucharaka Mouwatina")) %>
<% content_for :canonical do %>
  <%= render "shared/canonical", href: help_url %>
<% end %>

<%= render Shared::BannerComponent.new("help_page") %>

<div class="jumbo light">
  <div class="row">
    <div class="small-12 medium-9 column">
      <h2><%= (I18n.locale == :ar ? "مشاركة مواطنة" : I18n.locale == :fr ? "Moucharaka Mouwatina" : "Moucharaka Mouwatina") %></h2>
<p><%= (I18n.locale == :ar ? "هذا الدليل مخصص لمشاركة مواطنة، حيث يوضح كيفية المساهمة في المشروع." : I18n.locale == :fr ? "Ce guide est dédié à Moucharaka Mouwatina, expliquant comment participer au projet." : "This guide is dedicated to Moucharaka Mouwatina, explaining how to contribute to the project.") %></p>
    </div>
  </div>


  <%= render "pages/help/menu" %>
</div>

<div id="more-info" class="more-info-content">
  <div class="row">
    <div class="small-12 medium-7 large-8 column">
      <% if feature?(:debates) %>
        <%= render "pages/help/debates" %>
      <% end %>

      <% if feature?(:proposals) %>
        <%= render "pages/help/proposals" %>
      <% end %>

      <% if feature?(:budgets) %>
        <%= render "pages/help/budgets" %>
      <% end %>

      <% if feature?(:polls) %>
        <%= render "pages/help/polls" %>
      <% end %>

      <% if feature?(:legislation) %>
        <%= render "pages/help/processes" %>
      <% end %>
    </div>
    <div class="small-12 medium-4 large-3 column more-info-sidebar">
      <%= render "pages/help/sidebar" %>
    </div>
  </div>

  <div class="row">
    <hr>
    <div class="small-12 column">
      <%= render "pages/help/other" %>
    </div>
  </div>
</div>
