<!DOCTYPE html>
<html <%= common_html_attributes %>>
  <head>
    <%= render "layouts/common_head", default_title: (I18n.locale == :ar ? "مشاركة مواطنة" : 
                                                                                      I18n.locale == :fr ? "Moucharaka Mouwatina" : 
                                                                                      "Moucharaka Mouwatina") %>
    <%= render "layouts/meta_tags" %>
    <%= raw setting["html.per_page_code_head"] %>
  </head>

  <style>
    body.auth-page {
        font-family: Arial, sans-serif;
        background-color: #f4f4f9;
        color: #333;
        margin: 0;
        padding: 0;
      }

      .wrapper {
        min-height: 100vh;
      }

      a {
        color: #5B4BE2;
      }

      .auth-form {
        background-color: #ffffff;
        border-radius: 8px;
        padding: 20px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        margin-top: 20%;
      }

      .auth-form h2 {
        color: #5B4BE2; 
        font-size: 36px;
        margin-bottom: 20px;
        text-align: center;
      }

      .auth-form input[type="text"],
      .auth-form input[type="password"],
      .auth-form button {
        width: 100%;
        padding: 10px;
        margin-bottom: 15px;
        border-radius: 4px;
        border: 1px solid #ddd;
      }
  </style>

  <body class="auth-page">
    <%= render Layout::SkipToMainContentComponent.new %>
    <%= raw setting["html.per_page_code_body"] %>
    <div class="wrapper">
      <div class="auth-image small-12 medium-3 column"
           style="<%= attached_background_css asset_url(image_path_for("auth_bg.jpg")) %>">
        <h1 class="logo margin">
          <%= link_to root_path do %>
            <%= image_tag(image_path_for("logo_moucharaka.png"), class: "float-left", alt: (I18n.locale == :ar ? "مشاركة مواطنة" : 
                                                                                      I18n.locale == :fr ? "Moucharaka Mouwatina" : 
                                                                                      "Moucharaka Mouwatina")) %>
          <% end %>
        </h1>
      </div>

      <div class="small-12 medium-9 column">
        <div class="row">
          <div class="small-12 medium-9 large-7 small-centered column">
            <main id="main" class="auth-form margin <%= yield(:main_class) %>">
              <%= render "layouts/flash" %>

              <%= yield %>
            </main>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <%= render Layout::FooterComponent.new %>
    </div>
  </body>
</html>
